# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods (if used)
Pods/

# Misc
*.swp
*.lock
!Package.resolved
